* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 7,5rem; 
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position:fixed ;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;

}
nav img {
  width: 5vw;
}
p {
  color:white
}

h1 {
  color:white;
  position:fixed
  text-align: center;
}
body {
  position: relative;
  top:27rem;
position: relative;
height: 100vh;
}

footer
{
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background: #00a8c7;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;

}
.html-logo {
  float: left;  
margin: 10rem;
}

.html-text{
  float: right;
  margin: 10rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00a8c7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.87);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E9E9E9;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: blue;}


.html-text {
  width: 40vw;
  float: right
}

.java-logo {
  float: right;
}

.java-text {
  width: 40vw;
  float: left
}

.php-text {
  width: 40vw;
float: right;
}

.sql-text {
  width: 40vw;
  float: left;
}

.sql-logo {
  float: right;
}