* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
  background-image: url("hacker.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 75rem; 
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
footer {
  background: #00a8c7;
  height: 20rem;
}
H1 {
  font-style: italic;
}
section {
  height: 10rem;
  width: 10rem;
}
p {
  color: gold;
}